<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In | Parma</title>
    <link rel="shortcut icon" href="/public/assets/svgs/logo-mark.svg" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/main.css">
  </head>

  <body>

    <div class="flex flex-col items-center px-6 py-10 min-h-dvh">
      <img src="/public/assets/svgs/logo.svg" class="mb-[53px]" alt="">
      <form action="" method="" class="mx-auto max-w-[345px] w-full p-6 bg-white rounded-3xl mt-auto" id="deliveryForm">
        <div class="flex flex-col gap-5">
          <p class="text-[22px] font-bold">
            Sign In
          </p>
          <!-- Email Address -->
          <div class="flex flex-col gap-2.5">
            <label for="email" class="text-base font-semibold">Email Address</label>
            <input type="email" name="email" id="email__"
              class="form-input bg-[url('/public/assets/svgs/ic-email.svg')]" placeholder="Your email address">
          </div>
          <!-- Password -->
          <div class="flex flex-col gap-2.5">
            <label for="password" class="text-base font-semibold">Password</label>
            <input type="password" name="password" id="password__"
              class="form-input bg-[url('/public/assets/svgs/ic-lock.svg')]" placeholder="Protect your password">
          </div>
          <button type="button" class="inline-flex text-white font-bold text-base bg-primary rounded-full whitespace-nowrap px-[30px] py-3 justify-center items-center" onclick="window.location.href='/public/pages/index.html'">
            Sign In
          </button>
        </div>
      </form>
      <a href="./register.html" class="font-semibold text-base mt-[30px] underline">
        Create New Account
      </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  </body>

</html>